@import "../components/_card.scss";
@import "../components/_button.scss";

.task{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px 0 37px 0;

    &__number,
    &__exit{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: #fff;
        font-size: 21px;
        position: absolute;
        top: -10px;
        left: -10px;
        font-family: $font-oswald-medium;
        background: transparent linear-gradient(180deg, $task-number-secound-color 0%, $task-number-first-color 100%) 0% 0% no-repeat padding-box;
    }

    &__exit{
        cursor: pointer;
    }

    &__title,
    &__desc{
        width: 100%;

        /* width */
        &::-webkit-scrollbar {
            position: absolute;
            cursor: pointer;
            width: 10px;
            height: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $scroll-color; 
            border-radius: 10px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #C63E7C; 
        }
    }

    &__content{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
        max-width: 125px;

        @media only screen and (max-width: $screen-sm) {
            max-width: 80%;
        }
    }

    &__title{
        font-size: 20px;
        font-family: $font-monts-medium;
        padding-bottom: 13px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-align: center;
    }

    &__desc{
        font-size: 15px;
        font-family: $font-roboto-light;
        line-height: 20px;
        overflow-wrap: break-word;
        overflow-y: auto;
        height: 100%;
        max-height: 154px;
    }

    &__buttons{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2px;

        &--remove{
            padding: 4px 6px;
            background: $bg-color;
            border: #8F5EBE solid 1px;
            transition: background-color .7s ease-in-out;

            span{
                color: #8F5EBE;
            }

            &:hover{
                background-color: #8F5EBE;
                span{
                    color: $bg-color;
                }
            }
        }
        &--save{
            border: #8F5EBE solid 1px;
            background: #8F5EBE;

            transition: background-color 0.5s;
            &:hover{
                background: $bg-color;
                img{
                    filter: invert(45%) sepia(9%) saturate(3331%) hue-rotate(228deg) brightness(94%) contrast(89%);
                }
            }
        }
        &--remove span,
        &--save span{
            padding:3px 2px;
        }
    }
}