.todolist{
    grid-area: todolist;
    display: grid;
    grid-template-areas: 
        "addtask tasks";
    grid-template-columns: 1fr 1fr;
    align-self: start;
    @media only screen and (max-width: $screen-lg) {
        grid-template-areas: 
        "addtask"
        "tasks";
        grid-template-columns: 1fr;
    }
}

.tasks{
    display: grid;
    grid-template-areas: 
        "... ... icon"
        "... ... ...";
    grid-area: tasks;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 65px;
    row-gap: 23px;

    @media only screen and (max-width: $screen-xxl) {
            column-gap: 40px;
    }

    @media only screen and (max-width: $screen-lg) {
        grid-template-areas: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 73px;
    }

    @media only screen and (max-width: $screen-sm) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    & .icon{
        grid-area: icon;
    }
}