.todolist{
    grid-area: todolist;
    display: grid;
    grid-template: "addtask tasks" /auto 1fr;
    grid-gap: 35px;
    align-self: start;
    justify-items: flex-end;

    @media only screen and (max-width: $screen-lg) {
        grid-template: 
        "addtask" 1fr
        "tasks" 1fr
        / 1fr;

        justify-items: inherit;
    }
    @media only screen and (max-width: $screen-sm) {
        grid-template:
        "addtask" auto
        "tasks" 1fr/1fr;
    }
}

.tasks{
    display: grid;
    grid-area: tasks;
    grid-template: "... ... icon" 1fr
                    "... ... ..." 1fr 
                    / 1fr 1fr 1fr;

    grid-gap: 23px 65px;

    @media only screen and (max-width: $screen-xxl) {
            column-gap: 20px;
    }

    @media only screen and (max-width: $screen-lg) {
        grid-template-areas: none;
        grid: auto / 1fr 1fr;
        align-content: flex-start;
        row-gap: 73px;
    }

    @media only screen and (max-width: $screen-sm) {
        grid-template-columns: 1fr;
    }

    & .icon{
        grid-area: icon;
    }
}