.button{
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-size: 200% auto;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, $button-first-color, $button-secound-color  50%, $button-first-color 100%);
    transition: 0.5s;

    &:hover {
      background-position: right center;
    }  

    &__text{
        font-size: 15px;
        color: $button-text-color;
        font-family: $font-roboto-regular;
    }
    &.disabled{
        cursor: default;
        background: $button-disabled-color;
    }
}